.cursos-admin {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-dark);
  color: var(--color-light);
}

.admin-content {
  flex: 1;
  padding: 40px;
  max-width: 1100px;
  margin: auto;
}

/* TITULOS */
.titulo-admin {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--color-dorad-ligh);
  text-align: center;
}

.descripcion-admin {
  text-align: center;
  margin-top: 8px;
  color: var(--color-subtext);
}

/* FILTROS */
.filtros-container {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.input-busqueda,
.select-filtro {
  padding: 12px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  border: none;
  color: black;
  font-weight: 500;
}

/* GRID (3 por fila) */
.grid-cursos {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* CARD */
.card-curso {
  padding: 20px;
  border-radius: 15px;
  background: var(--color-glass);
  border: 1px solid var(--color-border-glass);
  backdrop-filter: blur(12px);
}

.img-curso img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.card-curso h3 {
  margin-top: 12px;
}

.card-curso .categoria {
  font-weight: bold;
  margin-top: 6px;
  color: var(--color-primary);
}

.card-curso .descripcion {
  margin-top: 4px;
  opacity: 0.85;
}

/* ACCIONES */
.acciones-card {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.btn-eliminarC {
  background: #ff4757;
  color: white;
  border: none;
}

.btn-eliminarC:hover {
  background: #711c23;
}