.paneladmin-background {
  min-height: 100vh;
  width: 100%;
  background: var(--color-dark); /* tu color oscuro */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paneladmin-content {
  text-align: center;
  margin-top: 120px;
  padding: 20px;
  color: var(--color-light);
}

.paneladmin-content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--color-primary); /* lavanda */
}

.paneladmin-content p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--color-light-text);
}

.paneladmin-subtext {
  font-style: italic;
  opacity: 0.8;
}
